.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding-top: 10px;
  padding-bottom: 50px;
  width: 100%;

  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
}
.home-content {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}
.home-heading {
  font-family: 'Roboto';
  font-weight: bold;
  margin-top: 0px;
  font-size: 72px;
  color: #ffffff;
}
.home-description {
  font-family: 'Roboto';
  margin-top: 36px;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 0px;
}
.find-job-button {
  width: 30%;
  font-size: 32px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #ffffff;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
  background-color: #4f46e5;
  margin-top: 60px;
  cursor: pointer;
  outline: none;
}
